

@import "neat-helpers";

$gutter: 0em;

@import "neat";

$opacity: 0.5;
$color-background: rgba(182, 182, 182, $opacity);
$color-background-light: rgba(0, 0, 0, $opacity*0.25);
$color-background-dark: rgba(0, 0, 0, $opacity*2);
$color-background-opposite: rgba(170, 255, 255, $opacity);
$color-text: black;
$color-text-opposite: white;
$color-link: black;

$border: solid 1px $color-background;
$border-radius: 14px;
$border-round-top-left: $border-radius 0 0 0;
$border-round-top-right: 0 $border-radius 0 0;
$border-round-bottom-left: 0 0 0 $border-radius;
$border-round-bottom-right: 0 0 $border-radius 0;
$border-round-bottom: 0 0 $border-radius $border-radius;
$border-round-top: $border-radius $border-radius 0 0;

* {margin:0;padding:0;border:none;font-family:'ChaletLondonNineteenSixty';}
.abs {
    position: absolute;
}
.clear {
    @include span-columns(12);
    clear:both;
}
.center {
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    flex-flow: wrap row;
}
.full {
    height: 100%;
    width: 100%;
}
.right {
    float: right;
}

.base {
    @include outer-container;
    height: 100%;
}

a:link {
    text-decoration: none;
    color: $color-link;
}
a:visited {
    color: $color-link;
}
a:hover {
    color: $color-text-opposite;
    background-color: $color-background-opposite;
}
.invert-link:link {
    color:$color-text-opposite;
}
.invert-link:visited {
    color:$color-text-opposite;
}
.invert-link:hover {
    color:$color-link;
    background-color: $color-background;
}
.strike {
    text-decoration:line-through;
}

h1,h2,h3,h4,h5,h6 {
    //-webkit-text-stroke-color: #000;
    //-webkit-text-stroke-width: 1px;
    font-weight: normal;
}
h1{font-size: 130%;}
h2{font-size: 125%;}
h3{font-size: 120%;}
h4{font-size: 115%;}
h5{font-size: 110%;}
h6{font-size: 105%;}

.balance {
    position: absolute;
    top:5px;
    right:15%;
    font-size: 300%;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(120,120,120);
    color:$color-background-dark;
}

.info {
    position: absolute;
    z-index: 9999;
    top:5%;
    left:0px;
    width: 100%;
    font-size: 300%;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    pointer-events: none;
    font-weight: bolder;
}

.shop-container {
    position: relative;
    height: 70%;
    top:15%;
    width: 100%;
}
.shop {
    @include span-columns(12);
    color:$color-text;
    height: 60%;
}
.shop-button {
    @include span-columns(6);
    height: 100%;
    text-align: center;
}
.shop-button-text {
    padding: 10px;
    font-size: 150%;
}
.shop-button-container {
    @include span-columns(12);
    background-color: $color-background;
    border: $border;
    border-radius: $border-round-bottom;
    height:3em;
}
.shop-cart-container {
    @include span-columns(2);
    border:$border;
    border-bottom: none;
    height: 100%;
    background-color: $color-background;
}
.shop-cart-items {
    height: 90%;
}
.shop-cart-total {
    height: 20%;
}
.shop-cart-item {
    padding: 5px;
}
.shop-item {
    @include span-columns(3);
    height: 8em;
    border:solid 1px $color-background;
    border-radius: $border-radius;
    float: left;
}
.shop-item-name {
    @include span-columns(12);
    text-align: center;
    font-size:140%;
}
.shop-item-ammo-price {
    @include span-columns(5);
    @include shift(1);
    text-align: left;
}
.shop-item-price {
    @include span-columns(5);
    text-align: right;
}
.shop-item-amount {
    @include span-columns(3);
    background-color: $color-background-light;
    border-radius: $border-radius;
    text-align: center;
}
.shop-item-amounts {
    @include span-columns(12);

}
.shop-items {
    @include span-columns(12);
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
.shop-item-group {
    @include span-columns(2);
    border:$border;
    border-radius: $border-radius;
    text-align: center;
}
.shop-header {
    @include span-columns(12);
    min-height: 40px;
    background-color: $color-background;
    border:$border;
    border-radius: $border-round-top;
    border-bottom: none;
}
.shop-item-groups {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    @include span-columns(8);
    @include shift(2);
}
.shop-center {
    @include span-columns(8);
    background-color: $color-background;
    height: 100%;
    border:$border;
    border-bottom: none;
}
.shop-tab {
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    height: 25%;
    width: 100%;
    text-align: center;
    font-size: 150%;
}
.shop-tab:link {
    color:$color-text;
    text-decoration: none;
}
.shop-tab:visited {
    color: $color-text;
}
.shop-tab:hover {
    background-color: $color-background-opposite;
    color:$color-text-opposite;
}
.active {
    background-color: $color-background-opposite;
    color:$color-text-opposite;
}
.shop-tabs {
    @include span-columns(2);
    background-color: $color-background;
    height: 100%;
    border:$border;
    border-bottom: none;
}
.shop-toggle {
    @include span-columns(6);
    @include shift(3);
    text-align: center;
    border:$border;
    border-radius: $border-radius;
}
.shop-toggle-container {
    @include span-columns(2);
}