html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'ChaletLondonNineteenSixty'; }

.abs {
  position: absolute; }

.clear {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  clear: both; }
  .clear:last-child {
    margin-right: 0; }

.center {
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  justify-content: center;
  /* Horizontal center alignment */
  flex-flow: wrap row; }

.full {
  height: 100%;
  width: 100%; }

.right {
  float: right; }

.base {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .base::after {
    clear: both;
    content: "";
    display: block; }

a:link {
  text-decoration: none;
  color: black; }

a:visited {
  color: black; }

a:hover {
  color: white;
  background-color: rgba(170, 255, 255, 0.5); }

.invert-link:link {
  color: white; }

.invert-link:visited {
  color: white; }

.invert-link:hover {
  color: black;
  background-color: rgba(182, 182, 182, 0.5); }

.strike {
  text-decoration: line-through; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 130%; }

h2 {
  font-size: 125%; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 115%; }

h5 {
  font-size: 110%; }

h6 {
  font-size: 105%; }

.balance {
  position: absolute;
  top: 5px;
  right: 15%;
  font-size: 300%;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #787878;
  color: black; }

.info {
  position: absolute;
  z-index: 9999;
  top: 5%;
  left: 0px;
  width: 100%;
  font-size: 300%;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  text-align: center;
  pointer-events: none;
  font-weight: bolder; }

.shop-container {
  position: relative;
  height: 70%;
  top: 15%;
  width: 100%; }

.shop {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  color: black;
  height: 60%; }
  .shop:last-child {
    margin-right: 0; }

.shop-button {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  height: 100%;
  text-align: center; }
  .shop-button:last-child {
    margin-right: 0; }

.shop-button-text {
  padding: 10px;
  font-size: 150%; }

.shop-button-container {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  background-color: rgba(182, 182, 182, 0.5);
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-radius: 0 0 14px 14px;
  height: 3em; }
  .shop-button-container:last-child {
    margin-right: 0; }

.shop-cart-container {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-bottom: none;
  height: 100%;
  background-color: rgba(182, 182, 182, 0.5); }
  .shop-cart-container:last-child {
    margin-right: 0; }

.shop-cart-items {
  height: 90%; }

.shop-cart-total {
  height: 20%; }

.shop-cart-item {
  padding: 5px; }

.shop-item {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  height: 8em;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-radius: 14px;
  float: left; }
  .shop-item:last-child {
    margin-right: 0; }

.shop-item-name {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  text-align: center;
  font-size: 140%; }
  .shop-item-name:last-child {
    margin-right: 0; }

.shop-item-ammo-price {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  margin-left: 8.33333%;
  text-align: left; }
  .shop-item-ammo-price:last-child {
    margin-right: 0; }

.shop-item-price {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%;
  text-align: right; }
  .shop-item-price:last-child {
    margin-right: 0; }

.shop-item-amount {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 14px;
  text-align: center; }
  .shop-item-amount:last-child {
    margin-right: 0; }

.shop-item-amounts {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .shop-item-amounts:last-child {
    margin-right: 0; }

.shop-items {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%; }
  .shop-items:last-child {
    margin-right: 0; }

.shop-item-group {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-radius: 14px;
  text-align: center; }
  .shop-item-group:last-child {
    margin-right: 0; }

.shop-header {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  min-height: 40px;
  background-color: rgba(182, 182, 182, 0.5);
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-radius: 14px 14px 0 0;
  border-bottom: none; }
  .shop-header:last-child {
    margin-right: 0; }

.shop-item-groups {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
  margin-left: 16.66667%; }
  .shop-item-groups:last-child {
    margin-right: 0; }

.shop-center {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%;
  background-color: rgba(182, 182, 182, 0.5);
  height: 100%;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-bottom: none; }
  .shop-center:last-child {
    margin-right: 0; }

.shop-tab {
  display: flex;
  align-items: center;
  /* Vertical center alignment */
  justify-content: center;
  /* Horizontal center alignment */
  height: 25%;
  width: 100%;
  text-align: center;
  font-size: 150%; }

.shop-tab:link {
  color: black;
  text-decoration: none; }

.shop-tab:visited {
  color: black; }

.shop-tab:hover {
  background-color: rgba(170, 255, 255, 0.5);
  color: white; }

.active {
  background-color: rgba(170, 255, 255, 0.5);
  color: white; }

.shop-tabs {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%;
  background-color: rgba(182, 182, 182, 0.5);
  height: 100%;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-bottom: none; }
  .shop-tabs:last-child {
    margin-right: 0; }

.shop-toggle {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  border: solid 1px rgba(182, 182, 182, 0.5);
  border-radius: 14px; }
  .shop-toggle:last-child {
    margin-right: 0; }

.shop-toggle-container {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }
  .shop-toggle-container:last-child {
    margin-right: 0; }

